asgiref==3.8.1
bleach==6.2.0
boto3==1.35.92
botocore==1.35.92
dj-database-url==2.2.0
Django==5.1.2
django-js-asset==2.2.0
django-prose==2.1.0
django-storages==1.14.4
gunicorn==23.0.0
jmespath==1.0.1
packaging==24.1
pillow==11.0.0
psycopg2==2.9.10
python-dateutil==2.9.0.post0
s3transfer==0.10.4
six==1.17.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
webencodings==0.5.1
whitenoise==6.7.0
