{% extends "base.html" %}
{% load static %}
{% block title %}Mark C Forte{% endblock %}


{% block content %}

<div class="experience-container">
    <div>
        <h1>Feel free to reach out to me. Send me an email or contact me via social media!</h1>
    </div>
    <div>
        <ul class="social-links">
            <li><a href="mailto:markcforte@gmail.com">markcforte@gmail.com</a></li>
            <li><a href="https://github.com/mforte215">github.com/mforte215</li>
            <li><a href="https://www.linkedin.com/in/markcforte/">linkedin.com/in/markcforte/</li>
        </ul>
    </div>
</div>
{% endblock %}